.App {
  text-align: center;
  display: flex;         /* A flex container */
  flex-direction: column;/* Arrange children vertically */
  min-height: 100vh;     /* Full screen height */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  flex: 1;              /* Make this grow to take up all available space */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Footer {
  margin-top: auto;  /* push to bottom */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Home.css */

.home-container {
  position: relative;
  min-height: 100vh;

  /* Center content vertically and horizontally */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30%;
}

.home-container::before {
  content: ""; /* This is necessary for the pseudo-element to show */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-image: url('./assets/background.jpeg');
  opacity: 0.3;

  /* Background image settings */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  /*z-index: -1;*/
}

.home-content {
  font-size: 2em;
  color: #000000;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* Login.css */

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;  /* Full viewport height */
  background-color: #f7f9fc;
  padding-bottom: 30%;
}

.login-form {
  max-width: 400px;
  padding: 20px;
  border: 1px solid #e1e4e8;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.login-form button {
  width: 100%;
}

.login-form label {
  font-weight: bold;
}

/* Navbar.css */

.navbar {
  background-color: #a0d468; /* Light green */
  padding: 15px 28px;
}

.navbar .ant-menu-horizontal {
  background-color: transparent;
  border-bottom: none;
  line-height: normal;
}

.navbar .ant-menu-horizontal > .ant-menu-item {
  margin: 0 10px;
}

.navbar .ant-menu-horizontal > .ant-menu-item > a {
  color: #ffffff; /* White */
  text-decoration: none;
}

.navbar .ant-menu-horizontal > .ant-menu-item:hover > a,
.navbar .ant-menu-horizontal > .ant-menu-item-active > a,
.navbar .ant-menu-horizontal > .ant-menu-item-selected > a {
  color: #8cc152 !important; /* Darker green */
}

.home-buttons {
  /*margin-top: 20px;*/
  display: flex;
  /*gap: 20px;*/
  font-stretch: expanded;
}

/* Footer.css */

.footer {
  background-color: #2f4f4f;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}


/* Register.css */

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f9fc;
  padding-bottom: 30%;
}

.register-form {
  max-width: 400px;
  padding: 20px;
  border: 1px solid #e1e4e8;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.register-form button {
  width: 100%;
}

.register-form label {
  font-weight: bold;
}